<!DOCTYPE html>
<html lang="en">
	
  
				
  <body>
	  
	  
	  <!--Este es el encabezado-->	  
	  <!--La seccion intermedia Banner-->
	  
<hr>
    <h2 class="text-center">NOMBRE</h2>
    <hr>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 pb-1 pb-md-0 col-xl-7">
          <div class="card">
            <img class="card-img-top" src="https://www.dhresource.com/0x0/f2/albu/g2/M01/09/34/rBVaGlYfo8yAE4pmAAI-orJ6Onk224.jpg" alt="Card image cap">          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0 col-xl-5">
          <div class="card">
<div class="card-body">
          <h5 class="card-title">id: </h5> <p>01</p>
		<h5 class="card-title">color: </h5><p>Cafe</p>
		<h5 class="card-title">descripción: </h5><p>Una camisa del campeón Teemo</p>
		<h5 class="card-title">nombre: </h5><p>Teemo</p>
		<h5 class="card-title">precio: </h5><p>25000</p>
		<h5 class="card-title">talla: </h5><p>XL</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
</div>
</div>
<!-- Seccion Final -->
   
    <footer class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p style="color:#FDFDFD">Copyright © Caustic Shop 2019. All rights reserved.</p>
          </div>
        </div>
      </div>
	
  </footer>
	    
  </body>
  
</html>
