<!DOCTYPE html>
<html lang="en">      
	
  <body>	  
	  	  
	  <!--La seccion intermedia Banner-->
	  
<hr>
    <h2 class="text-center">CAMISETAS</h2>
    <hr>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <!--<a href="Producto.html"><img class="card-img-top" src="images/400X200.gif" alt="Card image cap"></a> -->
            <a href="productos"><img class="card-img-top" src="assets/images/teemo.jpg" alt="Card image cap" ></a> 
            <div class="card-body">
              <h5 class="card-title">TEEMO</h5>
              <p class="card-text">ESTOY MAMADISIMO</p>
              <a href="productos" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <a href="productos"><img class="card-img-top" src="images/400X200.gif" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="productos" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <a href="productos"><img class="card-img-top" src="images/400X200.gif" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="productos" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center mt-4">
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <a href="productos"><img class="card-img-top" src="images/400X200.gif" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="productos" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <a href="productos"><img class="card-img-top" src="images/400X200.gif" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="productos" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <a href="productos"><img class="card-img-top" src="images/400X200.gif" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="productos" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center mt-4">
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card"> <a href="productos"><img class="card-img-top" src="images/400X200.gif" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="productos" class="btn btn-primary">Add to Cart</a> </div>
          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card"> <a href="productos"><img class="card-img-top" src="images/400X200.gif" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="productos" class="btn btn-primary">Add to Cart</a> </div>
          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card"> <a href="productos"><img class="card-img-top" src="images/400X200.gif" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="productos" class="btn btn-primary">Add to Cart</a> </div>
          </div>
        </div>
      </div>
    </div>
<!-- Seccion Final -->
   
    <footer class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p style="color:#FDFDFD">Copyright © Caustic Shop 2019. All rights reserved.</p>
          </div>
        </div>
      </div>
	
  </footer>
	    
  </body>
</html>



